In [1]:
import pickle

In [17]:
accidents = pickle.load( open( "filtered_accidents_df", "rb" ) )
accidents.to_csv('accidents.csv', sep=',')

In [5]:
accidents

,date_time,coordinates,date
1,2018-09-10 17:42:21,"[(53.37367965, -6.21949067665441), (53.3497645...",2018-09-10
4,2018-09-10 16:50:39,"[(53.5637996, -6.2134966)]",2018-09-10
6,2018-09-10 16:34:28,"[(53.3546392, -6.2233617)]",2018-09-10
9,2018-09-10 15:56:44,"[(53.3546392, -6.2233617)]",2018-09-10
12,2018-09-10 15:29:30,"[(53.3164138, -6.3762001)]",2018-09-10
16,2018-09-10 14:43:39,"[(53.32770725, -6.24703074660174), (54.2674302...",2018-09-10
17,2018-09-10 14:36:48,"[(53.30170455, -6.25822205626102), (53.3017045...",2018-09-10
18,2018-09-10 14:24:12,"[(53.3164138, -6.3762001)]",2018-09-10
19,2018-09-10 13:43:29,"[(53.30170455, -6.25822205626102), (53.3497645...",2018-09-10
22,2018-09-10 08:23:23,"[(53.4598264, -6.2184562)]",2018-09-10
23,2018-09-10 07:17:09,"[(53.4315875, -6.2240802)]",2018-09-10
24,2018-09-10 05:54:26,"[(53.366702, -6.2929108), (54.2290046, -6.1588...",2018-09-10
25,2018-09-09 16:52:34,"[(53.33924965, -6.18590045037198)]",2018-09-09
27,2018-09-09 14:42:07,"[(53.3546392, -6.2233617), (54.3492514, -6.695...",2018-09-09
28,2018-09-09 14:28:04,"[(53.33924965, -6.18590045037198)]",2018-09-09
31,2018-09-08 14:50:33,"[(53.3589219, -6.4193369)]",2018-09-08
41,2018-09-08 08:22:26,"[(53.3546392, -6.2233617)]",2018-09-08
42,2018-09-08 06:54:54,"[(53.3465777, -6.27220704756538)]",2018-09-08
44,2018-09-07 19:21:23,"[(53.3546392, -6.2233617)]",2018-09-07
46,2018-09-07 17:00:21,"[(53.2777488, -6.20957265), (53.4892416, -6.10...",2018-09-07
49,2018-09-07 16:27:23,"[(53.3546392, -6.2233617)]",2018-09-07
50,2018-09-07 16:12:00,"[(53.3546392, -6.2233617)]",2018-09-07
51,2018-09-07 16:07:54,"[(53.3546392, -6.2233617)]",2018-09-07
54,2018-09-07 15:08:16,"[(53.3546392, -6.2233617)]",2018-09-07
55,2018-09-07 15:02:21,"[(53.37367965, -6.21949067665441), (53.3497645...",2018-09-07
57,2018-09-07 11:52:01,"[(53.3823881, -6.3664276), (54.2674302, -5.649...",2018-09-07
59,2018-09-07 08:27:52,"[(53.37367965, -6.21949067665441), (53.3497645...",2018-09-07
61,2018-09-07 08:05:23,"[(53.44783765, -6.14706815479899), (53.3497645...",2018-09-07
62,2018-09-07 07:52:04,"[(53.2777488, -6.20957265), (53.4892416, -6.10...",2018-09-07
64,2018-09-06 16:36:37,"[(53.5637996, -6.2134966)]",2018-09-06
...,...,...,...
9255,2017-07-04 15:52:35,"[(53.53696515, -6.21585592540132), (53.3546392...",2017-07-04
9256,2017-07-04 15:45:46,"[(53.3453249, -6.2758419), (53.3411709, -6.250...",2017-07-04
9257,2017-07-04 15:40:08,"[(53.3546392, -6.2233617), (53.3453249, -6.275...",2017-07-04
9258,2017-07-04 15:24:17,"[(53.44783765, -6.14706815479899), (53.3761475...",2017-07-04
9264,2017-07-04 12:53:54,"[(53.3546392, -6.2233617), (53.3453249, -6.275...",2017-07-04
9265,2017-07-04 12:53:39,"[(53.3190534, -6.3318219), (53.3546392, -6.223...",2017-07-04
9266,2017-07-04 12:41:11,"[(53.3546392, -6.2233617), (53.3453249, -6.275...",2017-07-04
9268,2017-07-04 12:18:06,"[(53.3546392, -6.2233617), (53.3453249, -6.275...",2017-07-04
9269,2017-07-04 12:11:02,"[(53.3546392, -6.2233617), (53.3453249, -6.275...",2017-07-04
9270,2017-07-04 11:40:51,"[(53.3396374, -6.25539261255365), (53.3425769,...",2017-07-04
9273,2017-07-04 09:04:23,"[(53.3453249, -6.2758419), (53.3453249, -6.275...",2017-07-04
9275,2017-07-04 08:15:41,"[(53.4085133, -6.3130915), (54.6780832, -5.950...",2017-07-04
9276,2017-07-04 07:23:00,"[(53.3453249, -6.2758419), (53.3362582, -6.257...",2017-07-04
9277,2017-07-04 07:09:19,"[(53.3453249, -6.2758419), (53.3453249, -6.275...",2017-07-04
9278,2017-07-04 07:08:31,"[(53.3941189, -6.38582), (54.3492514, -6.69589...",2017-07-04
9279,2017-07-04 06:58:19,"[(53.3453249, -6.2758419), (53.3362582, -6.257...",2017-07-04
9280,2017-07-04 06:56:34,"[(53.3453249, -6.2758419), (53.3453249, -6.275...",2017-07-04
9284,2017-07-04 05:33:14,"[(53.3545371, -6.23585143106706)]",2017-07-04
9286,2017-07-03 17:35:02,"[(53.362779, -6.2728663), (53.2888378, -6.1983...",2017-07-03
9288,2017-07-03 16:59:41,"[(53.2888378, -6.198343)]",2017-07-03
9289,2017-07-03 16:45:45,"[(53.3546392, -6.2233617), (53.3453249, -6.275...",2017-07-03
9291,2017-07-03 16:13:31,"[(53.35347935, -6.33602787102106), (53.2599753...",2017-07-03
9292,2017-07-03 16:04:17,"[(53.2869243, -6.3570682), (53.36410395, -6.25...",2017-07-03
9293,2017-07-03 15:59:57,"[(53.3546392, -6.2233617), (53.3453249, -6.275...",2017-07-03
9294,2017-07-03 15:47:59,"[(53.3546392, -6.2233617), (53.3453249, -6.275...",2017-07-03
9295,2017-07-03 15:43:03,"[(53.3546392, -6.2233617), (53.3453249, -6.275...",2017-07-03
9296,2017-07-03 15:40:19,"[(53.35347935, -6.33602787102106), (53.2599753...",2017-07-03
9298,2017-07-03 13:54:49,"[(53.3546392, -6.2233617), (53.3453249, -6.275...",2017-07-03
9299,2017-07-03 09:38:24,"[(53.3589219, -6.4193369), (53.3567157, -6.450...",2017-07-03
9302,2017-07-03 05:28:09,"[(53.3546392, -6.2233617), (53.3453249, -6.275...",2017-07-03

In [19]:
accidents['is_1'] =[1 if len(x) == 1 else 0 for x in accidents['coordinates']]

In [38]:
total_accidents = []
for index,row in accidents.iterrows():
    for cor in row['coordinates']:
        total_accidents.append((row['date'],row['date_time'],cor[0],cor[1]))

In [39]:
import pandas as pd
df = pd.DataFrame(total_accidents, columns =['date', 'date_time', 'lat','lon'])

In [41]:
len(df)

14817

In [40]:
df.to_csv('accidents.csv', sep=',')

In [18]:
events = pickle.load( open( "events_tweet_df", "rb" ) )
events.to_csv('events.csv', sep=',')

In [33]:
events.head()

,tweet,coordinates,true_date
8,FOUR IN A ROW!!\nThe Dublin Senior GAA Footbal...,"[(53.3471212, -6.2756149)]",2018-09-03
11,Eid Fest in Herbert Park in Ballsbridge is a f...,"[(53.3276869, -6.23656997033567)]",2018-09-01
47,On Sunday afternoon (15:00-20:00) the world mu...,"[(53.3471212, -6.2756149)]",2018-07-29
55,Lots of events happening today! And the weathe...,"[(53.3385656, -6.2435878)]",2018-07-21
56,Dublin Maker is a day-long festival for hacker...,"[(53.3385656, -6.2435878)]",2018-07-21

In [34]:
total_events = []
for index,row in events.iterrows():
    for cor in row['coordinates']:
        total_events.append((row['true_date'],cor[0],cor[1]))

In [35]:
df = pd.DataFrame(total_events, columns =['date', 'lat','lon'])

In [37]:
df.to_csv('events.csv', sep=',')